/* phone web page css */

.assembly{
  border:1px solid #ddd;
  border-radius:6px;
  padding:20px;
  margin:20px;
  max-height:500px;
  overflow-y:scroll;
  transition: max-height .5s;
  &::-webkit-scrollbar
  {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaa;
  }

    h3{
    position: relative;
    color: rgb(32, 160, 255);
    -webkit-margin-before: 0;
    margin-top: 0;
    cursor:pointer;
    .del-component{
      display:inline-block;
      float:right;
      margin-left:10px;
      margin-right:10px;
      cursor:pointer;
      :hover{
        color:#f00;
      }
    }
  }

}
.packUp {
  max-height:20px;
  overflow:hidden;
  transition: max-height .5s;
}


.packUpIcon{
  display: inline-block;
  position:relative;
  float:right;
  i{
    display: inline-block;
  }
  i:hover{
      color:#f00;
  }
  i.rotate{
    -webkit-transform: rotate(0deg);
    transition: -webkit-transform .5s;
  }
  i.rotate2{
    -webkit-transform: rotate(180deg);
    transition: -webkit-transform .5s;
  }
}

.left-space{
  display: flex;
  justify-content: center;
  align-items: center;
  .web{
    flex:4;
    .page{
      width: 320px;
      height: 568px;
      margin:20px auto;
      overflow: scroll;
      &::-webkit-scrollbar{
        width:0px;
      }
      z-index: 1;
      box-shadow: 0px 2px 30px 5px rgba(0,0,0,0.2);
    }
  }
  .operation{
    flex:1;
    .block{
      margin:10px 0;
    }
  }

}
.right-space{
  padding:10px 20px;
  height:100%;
  overflow:scroll;
  &>label {
    display: inline-block;
    width:100%;
    text-align: right;
    line-height: 34px;
  }
}

.el-row {
  margin-bottom: 20px;
}
.no-data{
  margin-left:20px;
  color:#999;
}
