/* phone web page css */

.assembly{
  border:1px solid #ddd;
  border-radius:6px;
  padding:20px;
  margin:20px;
  h3{
    color: rgb(32, 160, 255);
    -webkit-margin-before: 0;
  }
}


.left-space{
  display: flex;
  justify-content: center;
  align-items: center;
  .web{
    flex:4;
    .page{
      width: 320px;
      height: 568px;
      margin:20px auto;
      overflow: scroll;
      &::-webkit-scrollbar{
        width:0.1px;
      }
      z-index: 1;
      box-shadow: 0px 2px 30px 5px rgba(0,0,0,0.2);
    }
  }
  .operation{
    flex:1;
    .block{
      margin:10px 0;
    }
  }

}
.right-space{
  padding:20px;
  height:100%;
  overflow:scroll;
  label {
    display: inline-block;
    width:100%;
    text-align: right;
    line-height: 34px;
  }
}

.el-row {
  margin-bottom: 20px;
}
